<meta charset="utf-8">
<title>Ecohaven - Multipurpose eCommerce HTML Template</title>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Ecohaven is a versatile eCommerce HTML template perfect for online stores, featuring a clean design, responsive layout, and numerous customization options.">
<meta name="keywords" content="Ecohaven, eCommerce, HTML template, online store, responsive design, multipurpose, clean design, customizable">
<meta property="og:title" content="Ecohaven - Multipurpose eCommerce HTML Template">
<meta property="og:type" content="website">
<meta property="og:url" content="https://dev.techneinfosys.com/html/ecohaven/template/">
<meta property="og:image" content="https://dev.techneinfosys.com/html/ecohaven/assets/images/theme/logo.svg">
<!-- Additional Meta Tags -->
<meta name="robots" content="index, follow">
<meta name="theme-color" content="#006666">
<!-- Google font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;display=swap"
    rel="stylesheet">
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="../assets/images/theme/favicon.svg">
<!-- Template CSS -->
<link rel="stylesheet" href="../assets/css/style.css">