 <!--{ app sidebar start }-->
 <div class="sticky">
    <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
    <div class="app-sidebar">
        <div class="side-header">
            <a class="header-brand1" href="index.html">
                <img src="../assets/images/brand/logo-white.png" class="header-brand-img desktop-logo"
                    alt="logo">
                <img src="../assets/images/brand/icon-white.png" class="header-brand-img toggle-logo"
                    alt="logo">
                <img src="../assets/images/brand/icon-dark.png" class="header-brand-img light-logo"
                    alt="logo">
                <img src="../assets/images/brand/logo-dark.png" class="header-brand-img light-logo1"
                    alt="logo">
            </a>
            <!-- LOGO -->
        </div>
        <div class="main-sidemenu">
            <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg"
                    fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                </svg></div>
            <ul class="side-menu">
                <li class="sub-category">
                    <h3>Main</h3>
                </li>
                <li class="slide" >
                    <a class="sidenav-menu-item" data-bs-toggle="slide" href="javascript:void(0)">
                        <i class="side-menu__icon  fe fe-home"></i>
                        <span class="side-menu__label">Dashboard</span>
                        <i class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a href="javascript:void(0)">Dashboards</a></li>
                                            <li><a href="index.html" class="slide-item">CRM</a></li>
                                            <li><a href="dashboard-analytics.html" class="slide-item">Analytics</a></li>
                                            <li><a href="dashboard-ecommerce.html" class="slide-item">eCommerce</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="sub-category">
                    <h3>Apps & Pages</h3>
                </li>
                
                <li class="slide">
                    <a class="sidenav-menu-item" data-bs-toggle="slide" href="javascript:void(0)">
                        <i class="side-menu__icon fe fe-slack"></i>
                            <span class="side-menu__label">Application</span>
                            <i class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a href="javascript:void(0)">Application</a></li>
                                            <li><a href="app-kanban.html" class="slide-item">Kanban</a></li>
                                            <li><a href="calendar.html" class="slide-item">Calendar</a></li>
                                            <li><a href="app-calendar.html" class="slide-item">Event  Calendar</a></li>
                                            <li><a href="app-list-calendar.html" class="slide-item">List Calendar</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="slide">
                    <a class="sidenav-menu-item" href="private-chat.html"><i
                            class="side-menu__icon  ti ti-brand-hipchat"></i><span
                            class="side-menu__label">Chat</span>
                    </a>
                </li>
                <li class="slide">
                    <a class="sidenav-menu-item" data-bs-toggle="slide" href="javascript:void(0)"><i
                            class="side-menu__icon fe fe-user"></i><span
                            class="side-menu__label">Users</span><i class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a
                                                    href="javascript:void(0)">Users</a></li>
                                            <li><a href="user-list.html" class="slide-item">List</a></li>
                                            <li><a href="user-reports.html" class="slide-item">Reports</a>
                                            </li>
                                            <li class="sub-slide">
                                                <a class="sub-sidenav-menu-item" data-bs-toggle="sub-slide"
                                                    href="javascript:void(0)"><span
                                                        class="sub-side-menu__label">View</span><i
                                                        class="sub-angle fe fe-chevron-right"></i></a>
                                                <ul class="sub-slide-menu">
                                                    <li><a class="sub-slide-item"
                                                            href="user-account-view.html">Account</a></li>
                                                    <li><a class="sub-slide-item"
                                                            href="user-security-view.html">Security</a></li>
                                                    <li><a class="sub-slide-item"
                                                            href="user-billing-view.html">Billing &
                                                            Plans</a></li>
                                                    <li><a class="sub-slide-item"
                                                            href="user-notifications-view.html">Notifications</a>
                                                    </li>
                                                    <li><a class="sub-slide-item"
                                                            href="user-connections-view.html">Connections</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="slide">
                    <a class="sidenav-menu-item" data-bs-toggle="slide" href="javascript:void(0)"><i
                            class="side-menu__icon fe fe-shopping-cart"></i><span
                            class="side-menu__label">Ecommerce</span><i
                            class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a
                                                    href="javascript:void(0)">Ecommerce</a></li>
                                            <li><a href="ecommerce-product-add.html" class="slide-item">Add
                                                    Product</a></li>
                                            <li><a href="ecommerce-product.html"
                                                    class="slide-item">Products</a></li>
                                            <li><a href="ecommerce-product-details.html"
                                                    class="slide-item">Products Detail</a></li>
                                            <li><a href="ecommerce-product-list.html"
                                                    class="slide-item">Product List</a></li>
                                            <li><a href="ecommerce-cart.html" class="slide-item">Cart</a>
                                            </li>
                                            <li><a href="ecommerce-wishlist.html"
                                                    class="slide-item">Wishlist</a></li>
                                            <li><a href="ecommerce-order-list.html" class="slide-item">Order
                                                    Lists</a></li>
                                            <li><a href="ecommerce-product-referral.html"
                                                    class="slide-item">Referrals</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="slide">
                    <a class="sidenav-menu-item" data-bs-toggle="slide" href="javascript:void(0)"><i
                            class="side-menu__icon fe fe-lock"></i><span
                            class="side-menu__label">Authentication</span><i
                            class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a
                                                    href="javascript:void(0)">Authentication</a></li>
                                            <li><a class="slide-item" href="authentication-signin.html">Sign
                                                    up</a></li>
                                            <li><a class="slide-item" href="register.html">Sign in</a></li>
                                            <li><a class="slide-item" href="forgot-password.html"> Forgot
                                                    Password </a></li>
                                            <li><a class="slide-item" href="lockscreen.html">Lock Screen</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="slide">
                    <a class="sidenav-menu-item" data-bs-toggle="slide" href="javascript:void(0)"><i
                            class="side-menu__icon fe fe-alert-triangle"></i><span
                            class="side-menu__label">Error Pages</span><i
                            class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a
                                                    href="javascript:void(0)">Authentication</a></li>
                                            <li><a class="slide-item" href="400.html">400</a></li>
                                            <li><a class="slide-item" href="401.html">401</a></li>
                                            <li><a class="slide-item" href="403.html">403 </a></li>
                                            <li><a class="slide-item" href="404.html">404</a></li>
                                            <li><a class="slide-item" href="500.html">500</a></li>
                                            <li><a class="slide-item" href="503.html">503</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="sub-category">
                    <h3>Elements</h3>
                </li>
                <li class="slide">
                    <a class="sidenav-menu-item" data-bs-toggle="slide" href="javascript:void(0)"><i
                            class="side-menu__icon fe fe-layers"></i><span
                            class="side-menu__label">Basic</span><i class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a
                                                    href="javascript:void(0)">Basic</a>
                                            </li>
                                            <li><a class="slide-item" href="basic-alert.html">Alert</a></li>
                                            <li><a class="slide-item" href="basic-buttons.html">Button</a>
                                            </li>
                                            <li><a class="slide-item" href="basic-badges.html">Badges</a>
                                            </li>
                                            <li><a class="slide-item"
                                                    href="basic-breadcrumb.html">Breadcrumb</a></li>
                                            <li><a class="slide-item" href="basic-cards.html">Cards</a></li>
                                            <li><a class="slide-item"
                                                    href="basic-accordion.html">Accordion</a></li>
                                            <li><a class="slide-item"
                                                    href="basic-carousel.html">Carousel</a></li>
                                            <li><a class="slide-item"
                                                    href="basic-dropdowns.html">Dropdowns</a></li>
                                            <li><a class="slide-item"
                                                    href="basic-offcanvas.html">Offcanvas</a></li>
                                            <li> <a class="slide-item"
                                                    href="basic-pagination.html">Pagination</a></li>
                                            <li> <a class="slide-item"
                                                    href="basic-progress.html">Progress</a></li>
                                            <li><a class="slide-item" href="basic-list-group.html">List
                                                    group</a></li>
                                            <li><a class="slide-item" href="basic-modal.html">Modal</a></li>
                                            <li><a class="slide-item" href="basic-spinner.html">Spinner</a>
                                            </li>
                                            <li> <a class="slide-item" href="basic-tabs.html">Tabs</a></li>
                                            <li><a class="slide-item"
                                                    href="basic-typography.html">Typography</a></li>
                                            <li><a class="slide-item"
                                                    href="basic-tooltip-popover.html">Tooltip & popovers</a>
                                            </li>
                                            <li><a class="slide-item" href="basic-toasts.html">Toasts</a>
                                            </li>
                                            <li class="sub-slide">
                                                <a class="sub-sidenav-menu-item" data-bs-toggle="sub-slide"
                                                    href="javascript:void(0)"><span
                                                        class="sub-side-menu__label">Utilities</span><i
                                                        class="sub-angle fe fe-chevron-right"></i></a>
                                                <ul class="sub-slide-menu">
                                                    <li><a class="sub-slide-item"
                                                            href="avatars.html">Avatars</a></li>
                                                    <li><a class="sub-slide-item"
                                                            href="position.html">Position</a></li>
                                                    <li><a class="sub-slide-item"
                                                            href="columns.html">Columns</a></li>
                                                    <li><a class="sub-slide-item" href="flex.html">Flex</a>
                                                    </li>
                                                    <li><a class="sub-slide-item"
                                                            href="gutters.html">Gutters</a></li>
                                                    <li><a class="sub-slide-item" href="more.html">More</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="slide">
                    <a class="sidenav-menu-item" data-bs-toggle="slide" href="javascript:void(0)"><i
                            class="side-menu__icon fe fe-briefcase"></i><span
                            class="side-menu__label">Advance</span><i class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a
                                                    href="javascript:void(0)">Advance</a></li>
                                            <li><a class="slide-item" href="sweet-alert.html">Sweet
                                                    alert</a></li>

                                            <li><a class="slide-item"
                                                    href="notification.html">Notification</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="slide">
                    <a class="sidenav-menu-item" data-bs-toggle="slide" href="javascript:void(0)"><i
                            class="side-menu__icon ti ti-gift"></i><span
                            class="side-menu__label">icons</span><i class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a
                                                    href="javascript:void(0)">icons</a></li>
                                            <li><a class="slide-item" href="bootstrap-icons.html">Bootstrap
                                                    Icons</a></li>
                                            <li><a class="slide-item" href="tabler-icons.html">Tabler</a>
                                            </li>
                                            <li><a class="slide-item" href="fontawesome-icons.html">Font
                                                    Awesome</a></li>
                                            <li><a class="slide-item"
                                                    href="material-designicons-icons.html">Material Design
                                                    Icons</a></li>
                                            <li><a class="slide-item" href="simple-line-icons.html">Simple
                                                    Line Icons</a></li>
                                            <li><a class="slide-item" href="ionic-icons.html">Ionic
                                                    Icons</a></li>
                                            <li><a class="slide-item" href="feather-icons.html">Feather
                                                    Icons</a></li>
                                            <li><a class="slide-item" href="flags-icons.html">Flags
                                                    Icons</a></li>
                                            <li><a class="slide-item" href="payments-icons.html">Payments
                                                    Icons</a></li>
                                            <li><a class="slide-item" href="typicons.html">Typicons</a></li>
                                            <li><a class="slide-item" href="weather-icons.html">Weather
                                                    Icons</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="sub-category">
                    <h3>Maps & Charts</h3>
                </li>
                <li class="slide">
                    <a class="sidenav-menu-item" data-bs-toggle="slide" href="javascript:void(0)"><i
                            class="side-menu__icon fe fe-map-pin"></i><span
                            class="side-menu__label">Maps</span><i class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a
                                                    href="javascript:void(0)">Maps</a></li>
                                            <li><a href="leaflet-maps.html" class="slide-item">Leaflet
                                                    Maps</a></li>
                                            <li><a href="mapel-maps.html" class="slide-item">Mapel Maps</a>
                                            </li>
                                            <li><a href="vector-maps.html" class="slide-item">Vector
                                                    Maps</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="slide">
                    <a class="sidenav-menu-item" data-bs-toggle="slide" href="javascript:void(0)"><i
                            class="side-menu__icon fe fe-bar-chart-2"></i><span
                            class="side-menu__label">Chart</span><i class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a
                                                    href="javascript:void(0)">Chart</a></li>
                                            <li><a href="chartjs.html" class="slide-item">ChartJs</a></li>
                                            <li><a href="flot-charts.html" class="slide-item">Flot
                                                    Charts</a></li>
                                            <li><a href="echarts.html" class="slide-item">ECharts</a></li>
                                            <li><a href="morris-charts.html" class="slide-item">Morris
                                                    Charts</a></li>
                                            <li><a href="nvd3-charts.html" class="slide-item">Nvd3
                                                    Charts</a></li>
                                            <li class="sub-slide">
                                                <a class="sub-sidenav-menu-item" data-bs-toggle="sub-slide"
                                                    href="javascript:void(0)"><span
                                                        class="sub-side-menu__label">C3 Charts</span><i
                                                        class="sub-angle fe fe-chevron-right"></i></a>
                                                <ul class="sub-slide-menu">
                                                    <li><a class="sub-slide-item" href="c-charts.html">Bar
                                                            Charts</a></li>
                                                    <li><a class="sub-slide-item"
                                                            href="line-chart.html">Line Charts</a></li>
                                                    <li><a class="sub-slide-item"
                                                            href="dount-charts.html">Dount Charts</a></li>
                                                    <li><a class="sub-slide-item" href="pie-chart.html">Pie
                                                            Charts</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="sub-category">
                    <h3>Forms</h3>
                </li>
                <li class="slide">
                    <a class="sidenav-menu-item" data-bs-toggle="slide" href="javascript:void(0)"><i
                            class="side-menu__icon ti ti-forms"></i><span class="side-menu__label">Forms
                            Elements</span><i class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a href="javascript:void(0)">Forms
                                                    Elements</a></li>
                                            <li><a class="slide-item" href="form-elements.html">Form
                                                    Basic</a></li>
                                            <li><a class="slide-item" href="form-floating.html">Form
                                                    Floating</a></li>
                                            <li><a class="slide-item" href="form-options.html">Form
                                                    Options</a></li>
                                            <li><a class="slide-item" href="input-group.html">Input
                                                    Groups</a></li>
                                            <li><a class="slide-item" href="form-input-spinners.html"> Form
                                                    Input Spinners</a></li>
                                            <li><a class="slide-item" href="gerenal-elements.html">Gerenal
                                                    Elements</a></li>
                                            <li><a class="slide-item" href="form-wizard.html">Form
                                                    Wizard</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="slide">
                    <a class="sidenav-menu-item" data-bs-toggle="slide" href="javascript:void(0)"><i
                            class="side-menu__icon ti ti-plug"></i><span class="side-menu__label">Forms
                            Plugins</span><i class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a href="javascript:void(0)">Forms
                                                    Plugins</a></li>
                                            <li><a class="slide-item" href="form-datepicker.html">Date
                                                    Pickers</a></li>
                                            <li><a class="slide-item" href="form-select.html">Select2</a>
                                            </li>
                                            <li><a class="slide-item" href="form-inputmask.html">Input
                                                    Masks</a></li>
                                            <li><a class="slide-item" href="file-upload.html">File
                                                    Upload</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="slide">
                    <a class="sidenav-menu-item" data-bs-toggle="slide" href="javascript:void(0)"><i
                            class="side-menu__icon ti ti-edit"></i><span class="side-menu__label">Text
                            Editors</span><i class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a href="javascript:void(0)">Text
                                                    Editors</a></li>
                                            <li class="sub-slide">
                                                <a class="sub-sidenav-menu-item" data-bs-toggle="sub-slide"
                                                    href="javascript:void(0)"><span
                                                        class="sub-side-menu__label">CK editor</span><i
                                                        class="sub-angle fe fe-chevron-right"></i></a>
                                                <ul class="sub-slide-menu">
                                                    <li><a class="sub-slide-item"
                                                            href="classic-editor.html">classic</a></li>
                                                    <li><a class="sub-slide-item"
                                                            href="document-editor.html">Document</a></li>
                                                    <li><a class="sub-slide-item"
                                                            href="inline-editor.html">Inline</a></li>
                                                    <li><a class="sub-slide-item"
                                                            href="balloon-editor.html">Balloon</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="quill-editor.html" class="slide-item">Quill
                                                    Editor</a></li>
                                            <li><a href="tinymce-editor.html" class="slide-item">Tinymce
                                                    Editor</a></li>
                                            <li><a href="markdown-editor.html" class="slide-item">Markdown
                                                    Editor</a></li>
                                            <li><a href="summernote-editor.html"
                                                    class="slide-item">Summernote Editor</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="sub-category">
                    <h3>Tables</h3>
                </li>
                <li class="slide">
                    <a class="sidenav-menu-item" data-bs-toggle="slide" href="javascript:void(0)"><i
                            class="side-menu__icon ti ti-table"></i><span class="side-menu__label">Bootstrap
                            table</span><i class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a
                                                    href="javascript:void(0)">Bootstrap table</a></li>
                                            <li><a href="tbl-bootstrap.html" class="slide-item">Basic
                                                    table</a></li>
                                            <li><a href="tbl-sizing.html" class="slide-item">Sizing
                                                    table</a></li>
                                            <li><a href="tbl-styling.html" class="slide-item">Styling
                                                    table</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="slide">
                    <a class="sidenav-menu-item" data-bs-toggle="slide" href="javascript:void(0)"><i
                            class="side-menu__icon bx bxs-shield-plus"></i><span
                            class="side-menu__label">Advance Table</span><i
                            class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a
                                                    href="javascript:void(0)">Advance Table</a></li>
                                            <li><a href="datatable.html" class="slide-item">datatable</a>
                                            </li>
                                            <li><a href="edit-table.html" class="slide-item">Edit Tables</a>
                                            </li>
                                            <li><a href="tables-extension.html" class="slide-item">Tables
                                                    Extension</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="slide">
                    <a class="sidenav-menu-item" data-bs-toggle="slide" href="javascript:void(0)">
                        <i class="side-menu__icon fe fe-sliders"></i>
                        <span class="side-menu__label">Level items</span><i
                            class="angle fe fe-chevron-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="panel sidetab-menu">
                            <div class="panel-body tabs-menu-body p-0 border-0">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <ul class="sidemenu-list">
                                            <li class="side-menu-label1"><a href="javascript:void(0)">Level
                                                    items</a></li>
                                            <li><a href="javascript:void(0)" class="slide-item">Level-1</a>
                                            </li>
                                            <li class="sub-slide">
                                                <a class="sub-sidenav-menu-item" data-bs-toggle="sub-slide"
                                                    href="javascript:void(0)"><span
                                                        class="sub-side-menu__label">Level-2</span><i
                                                        class="sub-angle fe fe-chevron-right"></i></a>
                                                <ul class="sub-slide-menu">
                                                    <li><a class="sub-slide-item"
                                                            href="javascript:void(0)">Level-2.1</a></li>
                                                    <li><a class="sub-slide-item"
                                                            href="javascript:void(0)">Level-2.2</a></li>
                                                    <li class="sub-slide2">
                                                        <a class="sub-sidenav-menu-item"
                                                            href="javascript:void(0)"
                                                            data-bs-toggle="sub-slide2"><span
                                                                class="sub-side-menu__label">Level-2.3</span><i
                                                                class="sub-angle2 fe fe-chevron-right"></i></a>
                                                        <ul class="sub-slide-menu2">
                                                            <li><a href="javascript:void(0)"
                                                                    class="sub-slide-item2">Level-2.3.1</a> 
                                                            </li>
                                                            <li><a href="javascript:void(0)"
                                                                    class="sub-slide-item2">Level-2.3.2</a>
                                                            </li>
                                                            <li><a href="javascript:void(0)"
                                                                    class="sub-slide-item2">Level-2.3.3</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li><a class="sub-slide-item"
                                                            href="javascript:void(0)">Level-2.4</a></li>
                                                    <li><a class="sub-slide-item"
                                                            href="javascript:void(0)">Level-2.5</a></li> 
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                    width="24" height="24" viewBox="0 0 24 24">
                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
                </svg></div>
        </div>
    </div>
</div>
<!--{ app sidebar end }--> 