.switch {
    margin-right: .75rem;
    position: relative;
    vertical-align: middle;
    margin-bottom: 0;
    display: inline-block;
    border-radius: 30rem;
    cursor: pointer;
    min-height: 1.35rem;
    font-size: .9375rem;
    line-height: 1.4
}

.switch .switch-label:first-child {
    padding-right: .5rem
}

.switch .switch-input~.switch-label {
    padding-left: 3rem
}

.switch .switch-toggle-slider {
    width: 2.5rem;
    height: 1.35rem;
    font-size: .625rem;
    line-height: 1.35rem;
    border: 1px solid rgba(0,0,0,0);
    top: 0
}

.switch .switch-toggle-slider i {
    position: relative;
    font-size: .9375rem;
    top: -1.35px
}

.switch .switch-label {
    top: .01875rem
}

.switch .switch-input:checked~.switch-toggle-slider::after {
    left: 1.15rem
}

.switch .switch-toggle-slider::after {
    top: -1px;
    margin: .225rem 0 0 .225rem;
    width: 14px;
    height: 14px
}

.switch .switch-on {
    padding-left: .225rem;
    padding-right: 1.125rem
}

.switch .switch-off {
    padding-left: 1.125rem;
    padding-right: .225rem
}

[dir=rtl] .switch .switch-label {
    padding-right: 3rem;
    padding-left: 0
}

[dir=rtl] .switch .switch-input:checked~.switch-toggle-slider::after {
    left: auto;
    right: 1.15rem
}

[dir=rtl] .switch .switch-toggle-slider::after {
    margin-left: 0;
    margin-right: .225rem
}

[dir=rtl] .switch .switch-on {
    padding-left: 1.125rem;
    padding-right: .225rem
}

[dir=rtl] .switch .switch-off {
    padding-left: .225rem;
    padding-right: 1.125rem
}

[dir=rtl] .switch {
    margin-left: .75rem;
    margin-right: 0
}

.switch-input {
    opacity: 0;
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: -1
}

.switch-toggle-slider {
    position: absolute;
    overflow: hidden;
    border-radius: 30rem;
    background: rgba(0,0,0,0);
    border: 1px solid rgba(67,89,113,.4) !important;
    color: rgba(67,89,113,.4);
    transition-duration: .2s;
    transition-property: left,right,background,box-shadow;
    cursor: pointer;
    user-select: none
}

.switch-toggle-slider i {
    top: -2.3px !important
}

.switch-label {
    display: inline-block;
    font-weight: 400;
    color: #697a8d;
    position: relative;
    cursor: default
}

.switch-off,.switch-on {
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    transition-duration: .2s;
    transition-property: left,right
}

.switch-on {
    left: -100%
}

[dir=rtl] .switch-on {
    left: auto;
    right: -100%
}

.switch-input:not(:checked)~.switch-toggle-slider .switch-on {
    color: rgba(0,0,0,0)
}

.switch-off {
    left: 0
}

[dir=rtl] .switch-off {
    right: 0;
    left: auto
}

.switch-input:checked~.switch-toggle-slider:after {
    background: #fff
}

.switch-input:checked~.switch-toggle-slider .switch-on {
    left: 0
}

[dir=rtl] .switch-input:checked~.switch-toggle-slider .switch-on {
    right: 0;
    left: auto
}

.switch-input:checked~.switch-toggle-slider .switch-off {
    left: 100%;
    color: rgba(0,0,0,0)
}

[dir=rtl] .switch-input:checked~.switch-toggle-slider .switch-off {
    right: 100%;
    left: auto
}

.switch-toggle-slider::after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    border-radius: 999px;
    background: rgba(67,89,113,.6);
    box-shadow: 0 0 0 1px rgba(67,89,113,.04),0 1px 6px rgba(67,89,113,.09);
    transition-duration: .2s;
    transition-property: left,right,background
}

[dir=rtl] .switch-toggle-slider::after {
    right: 0;
    left: auto
}

.switches-stacked::after {
    display: block;
    clear: both;
    content: ""
}

.switches-stacked .switch {
    display: block
}

html:not([dir=rtl]) .switches-stacked .switch {
    margin-right: 0
}

[dir=rtl] .switches-stacked .switch {
    margin-left: 0
}

.switches-stacked .switch:not(:last-child) {
    margin-bottom: .75rem
}

.switch-square, .switch-square .switch-toggle-slider {
    border-radius: 1.375rem;
}

.switch-square .switch-toggle-slider::after {
    border-radius: calc(2.375rem - 2px);
}

.switch-input:disabled~.switch-toggle-slider {
    opacity: .5;
    background: rgba(0,0,0,0);
    border-color: rgba(67,89,113,.6) !important
}

.switch-input:disabled~.switch-toggle-slider::after {
    box-shadow: none
}

.switch-input:disabled~.switch-label {
    color: #a1acb8
}

.switch-sm {
    min-height: 1.125rem;
    font-size: .75rem;
    line-height: 1.48
}

.switch-sm .switch-label:first-child {
    padding-right: .5rem
}

.switch-sm .switch-input~.switch-label {
    padding-left: 2.5rem
}

.switch-sm .switch-toggle-slider {
    width: 2rem;
    height: 1.125rem;
    font-size: .625rem;
    line-height: 1.125rem;
    border: 1px solid rgba(0,0,0,0);
    top: 0
}

.switch-sm .switch-toggle-slider i {
    position: relative;
    font-size: .75rem;
    top: -2px
}

.switch-sm .switch-label {
    top: .0075rem
}

.switch-sm .switch-input:checked~.switch-toggle-slider::after {
    left: .875rem
}

.switch-sm .switch-toggle-slider::after {
    top: -1px;
    margin: .225rem 0 0 .225rem;
    width: 10px;
    height: 10px
}

.switch-sm .switch-on {
    padding-left: .225rem;
    padding-right: .9rem
}

.switch-sm .switch-off {
    padding-left: .9rem;
    padding-right: .225rem
}

[dir=rtl] .switch-sm .switch-label {
    padding-right: 2.5rem;
    padding-left: 0
}

[dir=rtl] .switch-sm .switch-input:checked~.switch-toggle-slider::after {
    left: auto;
    right: .875rem
}

[dir=rtl] .switch-sm .switch-toggle-slider::after {
    margin-left: 0;
    margin-right: .225rem
}

[dir=rtl] .switch-sm .switch-on {
    padding-left: .9rem;
    padding-right: .225rem
}

[dir=rtl] .switch-sm .switch-off {
    padding-left: .225rem;
    padding-right: .9rem
}

.switch-lg {
    min-height: 1.75rem;
    font-size: 1rem;
    line-height: 1.47
}

.switch-lg .switch-label:first-child {
    padding-right: .5rem
}

.switch-lg .switch-input~.switch-label {
    padding-left: 3.75rem
}

.switch-lg .switch-toggle-slider {
    width: 3.25rem;
    height: 1.75rem;
    font-size: .625rem;
    line-height: 1.75rem;
    border: 1px solid rgba(0,0,0,0);
    top: 0
}

.switch-lg .switch-toggle-slider i {
    position: relative;
    font-size: 1rem;
    top: -2px
}

.switch-lg .switch-label {
    top: .14rem
}

.switch-lg .switch-input:checked~.switch-toggle-slider::after {
    left: 1.5rem
}

.switch-lg .switch-toggle-slider::after {
    top: -1px;
    margin: .225rem 0 0 .225rem;
    width: 20px;
    height: 20px
}

.switch-lg .switch-on {
    padding-left: .225rem;
    padding-right: 1.525rem
}

.switch-lg .switch-off {
    padding-left: 1.525rem;
    padding-right: .225rem
}

[dir=rtl] .switch-lg .switch-label {
    padding-right: 3.75rem;
    padding-left: 0
}

[dir=rtl] .switch-lg .switch-input:checked~.switch-toggle-slider::after {
    left: auto;
    right: 1.5rem
}

[dir=rtl] .switch-lg .switch-toggle-slider::after {
    margin-left: 0;
    margin-right: .225rem
}

[dir=rtl] .switch-lg .switch-on {
    padding-left: 1.525rem;
    padding-right: .225rem
}

[dir=rtl] .switch-lg .switch-off {
    padding-left: .225rem;
    padding-right: 1.525rem
}


.switch-input:checked~.switch-toggle-slider{
    background-color: $primary-1;
    border-color: $primary-1 !important;
    color: $white;
}