@import url("../iconfonts/bootstrapicons/bootstrap-icons.css");
@import url("../iconfonts/font-awesome/css/fontawesome.min.css");
@import url("../iconfonts/ionicons/ionicons.css");
@import url("../iconfonts/materialdesignicons/materialdesignicons.css");
@import url("../iconfonts/simple-line-icons/simple-line-icons.css");
@import url("../iconfonts/typicons/typicons.css");
@import url("../iconfonts/weathericons/weathericons.css");
@import url("../iconfonts/feather/feather.css");
@import url("../iconfonts/tabler/tabler-icons.min.css");
@import url("../iconfonts/boxicons/boxicons.css");
@import url("../iconfonts/remixicon/remixicon.css");